@import url(./normalize.css);
@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

.container {
  max-width: 1280px;
  margin: auto;
}

.main-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section__btn-modal-window {
  width: 200px;
  height: 48px;
  background-color: #e5266e;
  border-radius: 4px;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 18px;
}

.main-section__btn-modal-window:hover {
  background-color: #ab1c53;
}

.main-section__btn-modal-window:active {
  background-color: #c85b85;
}

.modal-section {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000006b;
}

.modal-section__content {
  width: 754px;
  position: relative;
  margin: auto;
  padding-top: 53px;
  padding-left: 97px;
  padding-bottom: 53px;
  background-color: #fff;
  border-radius: 12px;
}

.modal-section__header {
  margin-bottom: 35px;
}

.modal-section__title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
  line-height: 34px;
}

.modal-section__body {
  width: 558px;
}

.modal-section__form-block {
  width: 558px;
  height: 232px;
  display: flex;
}

.modal-section__form-left-part {
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.modal-section__form-right-part {
  width: 196px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.modal-section__upload-wrapper {
  width: 175px;
  height: 175px;
  padding: 8.5px;
  margin-top: 30px;
}

.modal-section__upload-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.modal-section__upload-input {
  width: 100px;
}

.modal-section__image-preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-section__image-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 14px; */
}

.modal-section__select-file-icon {
  width: 29.17px;
  height: 29.17px;
}

.modal-section__select-file {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18.67px;
  line-height: 28px;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
}

.modal-section__delete-btn {
  position: absolute;
  top: 165px;
  right: 120px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.modal-section__delete-btn:hover {
  background-color: #c5c4c4;
}

.modal-section__form-group {
}

.modal-section__label {
  position: absolute;
  padding-top: 8px;
  padding-left: 16px;
  pointer-events: none;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6a6e72;
}

.modal-section__label_for-select {
  padding-top: 0px;
  padding-bottom: 25px;
}

.modal-section__label_logo {
  display: block;
  margin-right: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.modal-section__star {
  color: #c72a1c;
}

.modal-section__input {
  width: 362px;
  height: 56px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid #d6dade;
  border-radius: 2px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0c1014;
}

.modal-section__input-large {
  width: 558px;
  padding-top: 0px;
  padding-right: 35px;
}

.modal-section__select {
  width: 558px;
  height: 56px;
  padding-top: 10px;
  padding-left: 15px;
  border: 1px solid #d6dade;
  border-radius: 2px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0c1014;

  appearance: none;
  -webkit-appearance: none;
}

.modal-section__upload-input {
  opacity: 0;
  position: absolute;
}

.modal-section__form-group_large {
  margin-top: 32px;
}

.modal-section__form-group-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.model-section__btns-block {
  width: 557px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.model-section__btn-become {
  width: 557px;
  height: 48px;
  border-radius: 4px;
  background-color: #e5266e;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.model-section__btn-become:hover {
  background-color: #ab1c53;
}

.model-section__btn-become:active {
  background-color: #c85b85;
}

.model-section__btn-cancel {
  width: 67px;
  height: 24px;
  margin-top: 15px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0848c0;
}

.model-section__btn-cancel:hover {
  color: #3b7df7;
}

.modal-section__input_indent {
  padding-top: 10px;
  padding-left: 15px;
}

@media (max-width: 790px) {
  .container {
    max-width: 790px;
  }

  .modal-section__content {
    width: 554px;
    padding-left: 95px;
  }

  .modal-section__body {
    width: 362px;
  }

  .modal-section__form-block {
    width: 362px;
    height: 465px;
    flex-direction: column;
    justify-content: center;
  }

  .modal-section__title {
    font-size: 26px;
  }

  .modal-section__form-left-part {
    width: 362px;
    height: 465px;
  }

  .modal-section__form-right-part {
    width: 362px;
    justify-content: center;
    order: -1;
    margin-bottom: 32px;
  }

  .modal-section__delete-btn {
    right: 210px;
  }

  .modal-section__input-large {
    width: 362px;
  }

  .model-section__btns-block {
    width: 362px;
  }
}

@media (max-width: 590px) {
  .container {
    max-width: 590px;
  }

  .modal-section__content {
    width: 454px;
    padding-left: 50px;
  }

  .modal-section__delete-btn {
    right: 155px;
  }
}

@media (max-width: 490px) {
  .container {
    max-width: 490px;
  }

  .modal-section__content {
    width: 354px;
    padding-left: 30px;
  }

  .modal-section__body {
    width: 295px;
  }

  .modal-section__form-block {
    width: 295px;
  }

  .modal-section__title {
    font-size: 21px;
  }

  .modal-section__form-left-part {
    width: 295px;
  }

  .modal-section__form-right-part {
    width: 295px;
  }

  .modal-section__delete-btn {
    right: 109px;
  }

  .modal-section__input {
    width: 295px;
  }

  .modal-section__input-large {
    width: 295px;
  }

  .model-section__btns-block {
    width: 295px;
  }
}

@media (max-width: 395px) {
  .container {
    max-width: 395px;
  }

  .modal-section__content {
    width: 300px;
    padding-left: 20px;
  }

  .modal-section__body {
    width: 260px;
  }

  .modal-section__form-block {
    width: 260px;
  }

  .modal-section__title {
    font-size: 18px;
  }

  .modal-section__form-left-part {
    width: 260px;
  }

  .modal-section__form-right-part {
    width: 260px;
  }

  .modal-section__delete-btn {
    right: 82px;
  }

  .modal-section__input {
    width: 260px;
  }

  .modal-section__input-large {
    width: 260px;
  }

  .model-section__btns-block {
    width: 260px;
  }
}
